* {
    margin: 0;
    padding: 0;
}
body{
    background: url('bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    display: grid;
    place-items: center;
    overflow-x: hidden;
}

.MainHeading {
    margin: 5vh;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
header{
    background-color: black;
    height: 13vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
header:hover .MainHeading{
    font-size: 52px;
    cursor: pointer;
}
header:hover{
    cursor: pointer;
}
.turn{
display: flex;
align-items: center;
justify-content: center;
height: 8vh;
margin-top: 30px;
}
.board{
    
}

ul {
    display: grid;
    grid-template-columns: 1fr;
}

.divv {
    display: flex;
}

li {
    list-style: none;
    display: grid;
    place-items: center;
    font-size: 0px;
}

.box {
    /* margin: 1px; */
    width: 75px;
    height: 75px;
    /* border-radius: 4.5px;
    box-shadow: inset 1px 1px 3px slategray; */
}

#tog {
    margin: 15px;
    padding: 10px 15px;
    background-color: white;
    color: black;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    border-radius: 6px;
    cursor: pointer;
}
#tog:hover{
    font-size: 26px;
}


.allimg {
    width: 45px;
    position: relative;
    bottom: 5px;
}

.allpawn {
    transform: scale(.7);
}

.authcont {
    width: 100vw;
}

.author {
    float: right;
    margin-right: 50px;

}


@media (max-width:650px){

    #tog {
        margin-bottom: 70px;

    }

    .box {
        width: 11vw;
        height: 11vw;
    }

    .allimg {
        width: 7vw;
    }
}
footer{
    height: 5vh;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn1, .btn2, .btn3{
    padding: 10px 20px;
    margin:0 10px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    opacity: 0.85;
}
.btn1:hover, .btn2:hover, .btn3:hover{
    padding: 12px 22px;
    cursor: pointer;
    background-color: hsl(340, 100%, 35%);
    color: white;
    opacity: 1;
}